services:
  workflow:
    image: docker.n8n.io/n8nio/n8n:next
    restart: always
    hostname: workflow.xiupos.net
    networks:
      - external_network
    environment:
      - GENERIC_TIMEZONE="Asia/Tokyo"
      - TZ="Asia/Tokyo"
      - WEBHOOK_URL=https://workflow.xiupos.net/
    volumes:
      - ./data:/home/node/.n8n

networks:
  external_network:
    external: true
