[Unit]
Description=Backup server data

[Service]
Type=simple
ExecStart=bash /home/xiupos/server/update.sh
User=xiupos
Group=xiupos

[Install]
WantedBy=multi-user.target
