{
  email {env.MAIL}
}

(cloudflare) {
  tls {
    dns cloudflare {env.CF_API_TOKEN}
    resolvers 1.1.1.1
  }
}

(default) {
  header_up Host {host}
  transport http {
    versions 1.1
  }

  # # If it's behind another reverse proxy or CDN, remove the following.
  # header_up X-Real-IP {remote_addr}
  # header_up X-Forwarded-For {proxy_add_x_forwarded_for}
  # header_up X-Forwarded-Proto https

  # For WebSocket
  # header_up Upgrade {http_upgrade}
  # header_up Connection {connection_upgrade}
}

mk.xiupos.net {
  import cloudflare
  route {
    handle /files/* {
      redir https://mk-s3.xiupos.net{uri}
    }
    reverse_proxy sapporo:3000 {
      import default
    }
  }
}

# mk-dev.xiupos.net {
#   import cloudflare
#   route {
#     handle /files/* {
#       redir https://mk-dev-s3.xiupos.net{uri}
#     }
#     reverse_proxy sapporo:3001 {
#       import default
#     }
#   }
# }

m.huling.org {
	header Content-Type text/html
	respond <<HTML
		<html>
			<head><title>phys.xiupos.net</title></head>
			<body>Sorry, m.huling.org is no longer available. Thank you for using it!</body>
		</html>
		HTML 410
}

phys.xiupos.net {
	header Content-Type text/html
	respond <<HTML
		<html>
			<head><title>phys.xiupos.net</title></head>
			<body>Sorry, phys.xiupos.net is no longer available. Thank you for using it!</body>
		</html>
		HTML 410
}

# workflow.xiupos.net {
#   import cloudflare
#   route {
#     reverse_proxy sapporo:5678 {
#       import default
#     }
#   }
# }
