{
  email {env.MAIL}
}

(cloudflare) {
  tls {
    dns cloudflare {env.CF_API_TOKEN}
    resolvers 1.1.1.1
  }
}

(default) {
  header_up Host {host}
  transport http {
    versions 1.1
  }

  header_up X-Real-IP {remote_addr}
  header_up X-Forwarded-For {proxy_add_x_forwarded_for}
  header_up X-Forwarded-Proto https
}

mk.xiupos.net {
  import cloudflare
  reverse_proxy misskey {
    import default
  }
}

mk-dev.xiupos.net {
  import cloudflare
  reverse_proxy misskey-dev {
    import default
  }
}

m.huling.org {
  import cloudflare
  reverse_proxy misskey-huling {
    import default
  }
}

workflow.xiupos.net {
  import cloudflare
  reverse_proxy n8n:5678 {
    import default
  }
}

netdata.xiupos.net {
  import cloudflare
  reverse_proxy netdata:19999 {
    import default
  }
}

wp.xiupos.net {
  import cloudflare
  reverse_proxy wordpress {
    import default
  }
}
