# =============================================================================
# Security (SSH & Firewall)

- name: Stop and Disable SSH Service
  ansible.builtin.service:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - ssh
    - ssh.socket
  ignore_errors: true

- name: Install UFW
  ansible.builtin.apt:
    name: ufw
    state: present

- name: Configure UFW Defaults
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: incoming, policy: deny }
    - { direction: outgoing, policy: allow }

- name: Allow Tailscale Interface (inbound)
  community.general.ufw:
    rule: allow
    interface: tailscale0
    direction: in

- name: Allow HTTP and HTTPS
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - "80"
    - "443"

- name: Enable UFW
  community.general.ufw:
    state: enabled

# =============================================================================
# Unattended Upgrades

- name: Install Unattended Upgrades dependencies
  ansible.builtin.apt:
    name:
      - unattended-upgrades
    state: present

- name: Enable Updates in apt config
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '//\s*("\${distro_id}:\${distro_codename}-updates";)'
    line: '        "\${distro_id}:\${distro_codename}-updates";'
    backrefs: true
    state: present

- name: Enable Auto Updates
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
    owner: root
    group: root
    mode: "0644"
