apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yml
  - postgresql.yml
  - redis-persistent.yml
  - redis-ephemeral.yml
  - deployment.yml
  - service.yml
  - ingress.yml

secretGenerator:
  - name: r2-creds
    namespace: misskey-mk-xiupos-net
    env: ../../../../secrets/r2-creds-p-backup.env

configMapGenerator:
  - name: misskey-config
    namespace: misskey-mk-xiupos-net
    files:
      - default.yml=config/default.yml
