apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yml
  - db-backup.yml
  - redis-ephemeral.yml
  - deployment.yml
  - service-ingress.yml

secretGenerator:
  - name: r2-creds
    namespace: misskey-mk-xiupos-net
    env: ../../../../secrets/r2-creds-p-backup.env

configMapGenerator:
  - name: misskey-config
    namespace: misskey-mk-xiupos-net
    files:
      - default.yml=config/default.yml
  - name: gdrive-rclone-config
    namespace: misskey-mk-xiupos-net
    files:
      - rclone.conf=../../../../secrets/gdrive-rclone.conf
    options:
      disableNameSuffixHash: true
      annotations:
        kustomize.config.k8s.io/needs-hash: "false"
