
# https://github.com/misskey-dev/misskey/blob/develop/.config/example.yml

url: https://mk.xiupos.net/
port: 3000

db:
  host: db-rw
  port: 5432
  db: misskey
  user: example-misskey-user
  pass: example-misskey-pass
  extra:
    statement_timeout: 0

# https://misskey-hub.net/en/docs/for-admin/install/resources/scale-out/#postgresql-replication
# https://orkhan.gitbook.io/typeorm/docs/docs/data-source/3-multiple-data-sources#replication
dbReplications: true
dbSlaves:
  - host: db-r
    port: 5432
    db: misskey
    user: example-misskey-user
    pass: example-misskey-pass
    extra:
      statement_timeout: 0

# https://misskey-hub.net/en/docs/for-admin/install/resources/scale-out/#role-based-redis-partitioning
redis:
  host: redis-ephemeral-primary
  port: 6379
redisForPubsub:
  host: redis-ephemeral-primary
  port: 6379
redisForJobQueue:
  host: redis-persistent-primary
  port: 6379
redisForTimelines:
  host: redis-ephemeral-primary
  port: 6379
redisForReactions:
  host: redis-primary.redis-common.svc.cluster.local
  port: 6379
  prefix: misskey-mk-xiupos-net-user

proxyBypassHosts:
  - api.deepl.com
  - api-free.deepl.com
  - www.recaptcha.net
  - hcaptcha.com
  - challenges.cloudflare.com

trustProxy:
  - 10.0.0.0/8
  - 172.16.0.0/12
  - 192.168.0.0/16
  - 127.0.0.1/32
  - ::1/128
  - fc00::/7

id: "aid"

signToActivityPubGet: true
