services:
  traefik:
    image: traefik:latest
    restart: always
    links:
      - error-pages
    networks:
      - internal_network
      - external_network
    ports:
      - "80:80"
      - "443:443/tcp"
      - "443:443/udp"
      - "8080:8080"
    env_file:
      - ../docker.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./config:/etc/traefik/config:ro
      - ./data/acme.json:/acme.json

  error-pages:
    image: nginx:alpine
    restart: always
    networks:
      - internal_network
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./html:/usr/share/nginx/html:ro

networks:
  internal_network:
    internal: true
  external_network:
    external: true
