log:
  level: DEBUG

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    proxyProtocol:
      trustedIPs:
        - "100.64.0.0/10" # Tailscale IPv4
        - "fd7a:115c:a1e0::/48" # Tailscale IPv6
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    proxyProtocol:
      trustedIPs:
        - "100.64.0.0/10" # Tailscale IPv4
        - "fd7a:115c:a1e0::/48" # Tailscale IPv6
    http3: {}

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/etc/traefik/config"
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      # email: # defined by TRAEFIK_CERTIFICATESRESOLVERS_CLOUDFLARE_ACME_EMAIL
      storage: "/acme.json"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
