tcp:
  routers:
    to-worker-http:
      rule: "HostSNI(`*`)"
      entryPoints: [web]
      service: worker-http-svc

    to-worker-https:
      rule: "HostSNI(`*`)"
      entryPoints: [websecure]
      tls:
        passthrough: true
      service: worker-https-svc

  services:
    worker-http-svc:
      loadBalancer:
        servers:
          - address: "sapporo:80"
        proxyProtocol:
          version: 2

    worker-https-svc:
      loadBalancer:
        servers:
          - address: "sapporo:443"
        proxyProtocol:
          version: 2
