tcp:
  routers:
    to-worker-http:
      rule: "HostSNI(`*`)"
      entryPoints: [web]
      service: worker-http-service

    to-worker-https:
      rule: "HostSNI(`*`)"
      entryPoints: [websecure]
      tls:
        passthrough: true
      service: worker-https-service

  services:
    worker-http-service:
      loadBalancer:
        servers:
          - address: "100.124.201.50:80"
        proxyProtocol:
          version: 2

    worker-https-service:
      loadBalancer:
        servers:
          - address: "100.124.201.50:443"
        proxyProtocol:
          version: 2
