all:
  children:
    region_jp:
      vars:
        region: ap-northeast-1
        timezone: Asia/Tokyo
        cluster_token: "token-jp-12345"
        cluster_init: true
      children:
        jp_master:
          hosts:
            p-home-sapporo:
              ansible_host: 100.64.0.0
              ansible_user: xiupos
              node_id: "jp-01"
        # jp_node:
        #   hosts:

    # region_us:
    #   vars:
    #     region: us-central-1
    #     timezone: America/Chicago
    #     cluster_token: "token-us-12345"
    #     cluster_init: true
    #   children:
    #     us_master:
    #       hosts:
    #         p-contabo-stlouis:
    #           ansible_host: 100.64.1.0
    #           node_id: "us-01"

    # region_eu:
    #   vars:
    #     region: eu-central-1
    #     timezone: Europe/Berlin
    #     cluster_token: "token-eu-12345"
    #     cluster_init: true
    #   children:
    #     eu_master:
    #       hosts:
    #         p-hatzner-neurmberg:
    #           ansible_host: 100.64.2.0
    #           node_id: "eu-01"

    k3s_cluster:
      children:
        server:
          children:
            jp_master:
            # us_master:
            # eu_master:
        # agent:
        #   children:
        #     jp_node:

      vars:
        k3s_version: v1.35.0+k3s1
        k3s_kubeconfig: /etc/rancher/k3s/k3s.yaml
        systemd_dir: /etc/systemd/system

        token: "{{ cluster_token }}"
        api_endpoint: "{{ hostvars[groups['server'][0]]['ansible_host'] | default(groups['server'][0]) }}"

        extra_server_args: >-
          --disable-cloud-controller
          --node-name {{ inventory_hostname }}
          --node-ip {{ ansible_host }}
          --node-external-ip {{ ansible_host }}
          --flannel-iface tailscale0
          --tls-san {{ ansible_host }}
          --tls-san {{ inventory_hostname }}

        extra_agent_args: >-
          --node-name {{ inventory_hostname }}
          --node-ip {{ ansible_host }}
          --node-external-ip {{ ansible_host }}
          --flannel-iface tailscale0

        argocd_install_url: https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
