- name: Apply Common Configuration
  hosts: all
  become: true
  roles:
    - common

- name: Install K3s
  ansible.builtin.import_playbook: k3s.orchestration.site

# - name: Install ArgoCD
#   hosts: server
#   become: true
#   roles:
#     - argocd

- name: Fetch and modify k3s config
  hosts: server
  become: true
  gather_facts: true
  tasks:
    - name: Read k3s.yaml from remote
      ansible.builtin.slurp:
        src: /etc/rancher/k3s/k3s.yaml
      register: remote_k3s_config

    - name: Save to local ~/.kube/config-<hostname>
      ansible.builtin.copy:
        content: "{{ remote_k3s_config['content'] | b64decode | replace('127.0.0.1', ansible_host) }}"
        dest: "~/.kube/config-{{ inventory_hostname }}"
        mode: "0600"
      delegate_to: localhost
      become: false
