- name: Apply Common Configuration
  hosts: all
  become: true
  roles:
    - common

- name: Setup K3s Masters
  hosts: server
  become: true
  roles:
    - ./roles/k3s-ansible/roles/k3s_server
    # - argocd

# - name: Setup K3s Agents
#   hosts: node
#   become: true
#   roles:
#     - ./roles/k3s-ansible/roles/k3s_agent
